.header{
				margin: 0 auto;
				width: 1200px;
			}

.wrapper{
				margin: 0 auto;
				width: 700px;
}

.socialwrapper{
				margin: 0 auto;
				width: 600px;
}

.socialwrapper img {
	float: left;
	width: 200px; 
	height: auto;
}

.headshot {
	display: block;
	margin: 0 auto;
}

.container {
	width: 600px;
	margin: 0 auto;
} 

.text {
	text-align: center;
	
	font-family: Helvetica;
}
